
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

container{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

main {
    flex: 1 0 auto;
}

col {
    width: 100%;
}

.chips-holder {
    display: inline-block;
    float: right;
}

tab {
    width: 100%;
}